<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="gustavolimalive.onmicrosoft.com" />
    <add key="ida:ClientId" value="ba974529-9909-4a66-971c-b1f3724addf1" />
    <add key="ida:CertName" value="CN=TodoListDaemonWithCert" />
    <add key="todo:TodoListResourceId" value="https://gustavolimalive.onmicrosoft.com/TodoListService" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321" />
  </appSettings>
</configuration>